@tailwind base;
@tailwind components;
@tailwind utilities;

/* The lines which have been commented out were already present as a css reset, instead I've used my own css resets*/
:root {
  --purple: #8a2be2;
  --violet: #ee82ee;
  --pink: #ff69b4;

  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-100: hsl(232, 12%, 13%);
  --clr-neutral-900: hsl(0 0% 0%);

  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.25rem;
  --fs-675: 1.5rem;
  --fs-700: 1.875rem;
  --fs-750: 2rem;
  --fs-775: 2.25rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
  --fs-1000: 4rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}

/* Shapes in Resources */
.pentahedron {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: #3E82F7;
}
.point {
	fill: #8491A3;
}
.rhombus {
	fill: #2DA94F;
	stroke: #2DA94F;
}
.x {
	fill: #FDBD00;
}
.circle {
	fill: #ED412D;
}

#shapeCanvas > svg {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	transform: translateZ(0px);
}

/* Magic Star Effects on Register Button */
@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

.magic {
  display: inline-block;
  position: relative;
}
.magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}
.magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}
.magic > .magic-star > svg > path {
  fill: var(--violet);
}
.magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

/* Scrolling effect in Testimonial Sections */
.scroller__wrapper {
  /* How long one slide is visible on screen (from entering screen to leaving it) */
  --scrolling-gallery-item-duration: 15s;
  /* How many items we want to see on screen at once */
  --scrolling-gallery-items-visible: 5;
  /* How many items are to scroll */
  --scrolling-gallery-items-total: v-bind(toppers.length/2);
  overflow: hidden;
  will-change: transform;
}
@media screen and (max-width: 425px) {
  .scroller__wrapper {
    --scrolling-gallery-item-duration: 5s;
    --scrolling-gallery-items-visible: 1;
  }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
  .scroller__wrapper {
    --scrolling-gallery-item-duration: 15s;
    --scrolling-gallery-items-visible: 2;
  }
}

.scroller {
  animation-duration: calc(var(--scrolling-gallery-item-duration, 1s) / var(--scrolling-gallery-items-visible) * var(--scrolling-gallery-items-total));
  animation-timing-function: linear;
  animation-name: scrolling-gallery;
  animation-iteration-count: infinite;
  display: flex;
  white-space: nowrap;
}
.scroller__container {
  /* Without this, scroll will jump on desktop if any vertical scrollbar is shown */
  width: 100vw;
}
.scroller__item {
  flex: 1 0 calc(100% / var(--scrolling-gallery-items-visible));
  /* Without this, block elements will take width from their contents and thus making wrong calculations,
    so this just force elements to take only exact part of the container (screen) and equal for all */
  width: 0px;
  /* If you want to have it continuous without any spaces, remove two lines below */
  box-sizing: border-box;
  padding: 0.5em;
}
.scroller img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
@keyframes scrolling-gallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--scrolling-gallery-items-total) * -100vw / var(--scrolling-gallery-items-visible)));
  }
}
.scroller:hover, .scroller:focus {
  animation-play-state: paused;
}

/* Color Orbs in Home Page */
.colorsb, .colorst {
  display: block;
  font-size: 52px;
  color: transparent;
}

.colorst::before, .colorst::after,
.colorsb::before, .colorsb::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
}
.colorsb::before, .colorsb::after {
  animation: 44s -27s move infinite ease-in-out alternate-reverse;
}
.colorst::before, .colorst::after {
  animation: 44s -27s move infinite ease-in-out alternate;
}
.colorsb::before {
  text-shadow: -0.3553750276em -0.4337305804em 7px rgba(255, 0, 248, 0.9), 1.1059259253em 1.4771656875em 7px rgba(255, 43, 0, 0.9), 0.483577788em 1.7097470675em 7px rgba(255, 0, 240, 0.9), 2.4713645895em -0.3854284981em 7px rgba(0, 34, 255, 0.9), -0.4186453656em -0.2687978222em 7px rgba(255, 0, 243, 0.9), 1.6746951902em 0.1936029205em 7px rgba(255, 18, 0, 0.9), 2.4485816393em 0.4679444107em 7px rgba(255, 0, 190, 0.9), 1.5653424299em 1.9398666027em 7px rgba(0, 36, 255, 0.9), -0.4076742706em 2.387704253em 7px rgba(255, 0, 251, 0.9), 2.4303183019em -0.1394255666em 7px rgba(178, 0, 255, 0.9), 0.135739422em -0.3574958763em 7px rgba(151, 0, 255, 0.9), 0.3187528828em -0.1278948497em 7px rgba(70, 0, 255, 0.9), 0.3159071473em 1.2267196138em 7px rgba(255, 0, 140, 0.9), 0.8980481784em 0.0297298715em 7px rgba(25, 142, 0, 0.9), 1.5253197863em 2.2662391691em 7px rgba(255, 0, 128, 0.9), 2.4417549338em -0.0081174778em 7px rgba(116, 0, 255, 0.9), 1.0939753447em 1.2829307363em 7px rgba(0, 157, 255, 0.9), 1.1553043796em 1.5543838847em 7px rgba(34, 0, 255, 0.9), 1.3980121894em 1.4552011666em 7px rgba(0, 122, 255, 0.9), 1.0526942158em 0.0337843592em 7px rgba(255, 0, 229, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}
.colorsb::after {
  text-shadow: 1.0187323729em 0.0983303031em 7px rgba(165, 0, 255, 0.9), 0.7986979274em 0.0149031329em 7px rgba(208, 0, 255, 0.9), -0.2136920706em -0.469880995em 7px rgba(197, 0, 255, 0.9), 1.5222866763em 0.3576213766em 7px rgba(0, 148, 255, 0.9), 0.6904150509em 1.0544869092em 7px rgba(255, 0, 162, 0.9), 1.3237115087em 0.2464155866em 7px rgba(84, 192, 70, 0.9), 2.0466844242em 1.41051751em 7px rgba(255, 20, 0, 0.9), 2.1117458452em 0.682754609em 7px rgba(0, 14, 255, 0.9), 1.1534163677em 1.1034702104em 7px rgba(163, 0, 255, 0.9), 2.3305415715em 2.2828885855em 7px rgba(77, 0, 255, 0.9), 2.274774806em 0.4678837198em 7px rgba(255, 43, 0, 0.9), 0.8696382511em 2.0404226785em 7px rgba(144, 0, 255, 0.9), 0.1536994112em -0.1598796866em 7px rgba(196, 0, 255, 0.9), 1.833384735em 1.2647054382em 7px rgba(174, 0, 255, 0.9), 2.0068402953em 0.2126036345em 7px rgba(255, 0, 210, 0.9), 1.5791734403em 1.1652605138em 7px rgba(255, 0, 91, 0.9), 0.0259308773em 0.4584940266em 7px rgba(25, 159, 0, 0.9), 1.5157186642em -0.1510111084em 7px rgba(255, 74, 0, 0.9), 1.9189267304em 1.1905670932em 7px rgba(188, 0, 255, 0.9), 0.0229940882em 0.5428567209em 7px rgba(255, 0, 147, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}
.colorst::before {
  text-shadow: 2.0742187932em 0.65736766em 7px rgba(255, 0, 47, 0.9), 2.2158866484em 0.1650062158em 7px rgba(0, 187, 255, 0.9), -0.4291401018em 2.0877204781em 7px rgba(255, 0, 222, 0.9), 2.2696075138em 1.1625703807em 7px rgba(255, 0, 41, 0.9), 0.4893954256em 1.4237432611em 7px rgba(0, 255, 194, 0.9), 0.5265575327em 0.7542928991em 7px rgba(66, 0, 255, 0.9), 0.4066286961em 1.365278389em 7px rgba(255, 0, 25, 0.9), -0.0643855987em 2.3443244952em 7px rgba(254, 0, 255, 0.9), -0.3950524782em 0.8764524687em 7px rgba(255, 93, 0, 0.9), 0.7525139436em -0.1620050808em 7px rgba(110, 0, 255, 0.9), 1.1515693992em -0.2142847298em 7px rgba(255, 0, 74, 0.9), -0.1675982448em -0.3260630155em 7px rgba(255, 25, 0, 0.9), 2.0190120656em 1.7537236782em 7px rgba(200, 0, 255, 0.9), 0.8897948239em 1.5621694038em 7px rgba(0, 136, 255, 0.9), -0.1836352061em 1.8311963954em 7px rgba(255, 0, 155, 0.9), 1.764804321em 0.3184254354em 7px rgba(255, 0, 153, 0.9), 1.6993424037em 1.1672592734em 7px rgba(255, 0, 70, 0.9), 0.4670132964em -0.4923433125em 7px rgba(38, 0, 255, 0.9), 2.2785349209em 1.1072598415em 7px rgba(0, 52, 255, 0.9), 0.3362950454em 0.0376190404em 7px rgba(0, 79, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}
.colorst::after {
  text-shadow: 2.2361380925em 2.4722145241em 7px rgba(255, 11, 0, 0.9), 1.3720032179em 1.8098477211em 7px rgba(255, 192, 0, 0.9), 2.0873465051em 1.1269118959em 7px rgba(0, 32, 255, 0.9), 0.777861367em 0.6655043287em 7px rgba(0, 203, 255, 0.9), 1.9549480304em -0.1404626563em 7px rgba(45, 146, 0, 0.9), -0.3718558381em -0.2916452836em 7px rgba(255, 19, 0, 0.9), 2.4237918705em 1.9086537659em 7px rgba(25, 148, 40, 0.9), 2.084410681em 2.4751081082em 7px rgba(255, 0, 160, 0.9), 0.2209989354em -0.1014412716em 7px rgba(25, 184, 0, 0.9), 1.813326946em 0.6093003224em 7px rgba(254, 0, 255, 0.9), --0.4473264697em 2.4084010374em 7px rgba(0, 255, 194, 0.9), 0.0471224812em 1.738916623em 7px rgba(136, 0, 255, 0.9), 1.0097407343em 0.297394607em 7px rgba(0, 71, 255, 0.9), 1.2038010085em 2.0196948283em 7px rgba(255, 0, 155, 0.9), 1.6828233759em 1.7066161188em 7px rgba(0, 22, 255, 0.9), 0.2597619366em 0.8257052624em 7px rgba(227, 0, 255, 0.9), 2.159924959em 1.4144104361em 7px rgba(255, 77, 0, 0.9), 2.0764204311em 0.3499382618em 7px rgba(0, 142, 255, 0.9), 1.5013565206em 0.5410351913em 7px rgba(25, 150, 0, 0.9), 0.4366545875em 1.9601355294em 7px rgba(255, 0, 166, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}
@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
 }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
 }
}